.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}

.done {
  text-decoration: line-through;
}

.section {
  position: relative;
}

.completed-all {
  width: 50px;
  padding: 16px;
  position: absolute;
  top: -48px;
  left: 0;
}
